.listContainer {
  overflow-y: auto;
  height: 500px;
  min-height: inherit;
}

.listItem {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  height: 150px;
  width: 100;
  padding: 20px;
  box-sizing: content-box;
}

.itemImage {
  display: flex;
  justify-content: center;
  align-items: center;
}

.itemImage img {
  width: 70%;
  height: auto;
}

.itemDesc {
}

.itemBtn {
}

.modalInfo {
  display: grid;
  grid-template-columns: 2fr 3fr;
}

.informations > div {
  margin: 15px;
}

.modalImgContainer {
}

.modalImgContainer img {
  width: 80%;
  height: auto;
}
