@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #1a2902;
  --green: #344c11;
  --paleGreen: #778d45;
  --secondary: #8ab446;
  --fourth: #d0e3c4;
  --olive: #3c4c24;
  --darkGreen: #3c531a;
  --darkerGreen: #4b633e;
  --mintGreen: #c6e2d4;
  --mutedGreen: #aec09a;
  --paleDarkGreen: #536934;
  --darkOliverGreen: #556b2f;
  --oliveGreen: #50731b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app-container {
  /* display: grid;
  grid-template-columns: 300px 1fr; */
  height: auto;
  min-height: 100vh;
  background: linear-gradient(
    180deg,
    rgba(174, 192, 154, 1) 40%,
    rgba(52, 76, 17, 1) 100%
  );
}

.main {
  /* background: linear-gradient(
    180deg,
    rgba(174, 192, 154, 1) 40%,
    rgba(52, 76, 17, 1) 100%
  ); */
  max-width: 100%;
}

li:has(> a.active) {
  background-color: #50731b;
}

.pagination {
  display: flex;
  justify-content: space-between;
  column-gap: 25px;
  background-color: var(--primary);
  margin-top: 20px;
  padding: 12px 16px;
}

.pagination li {
  color: white;
  padding: 0 0.5rem;
  box-sizing: border-box;
}

.pagination li:hover {
  background-color: var(--paleGreen);
  border-radius: 5px;
}

.pagination-active {
  background-color: var(--paleGreen);
  padding: 0 0.5rem;
  border-radius: 5px;
}

.pagination-disabled {
  color: grey;
  opacity: 0.5;
}

.app-input {
  padding: 5px;
  background-color: white;
  color: black;
  border-radius: 10px;
}

.search-container {
  position: relative; /* Keep the container relative to allow positioning of the results */
  width: 100%; /* Full width of the container */
  max-width: 600px; /* Optional: Set max-width */
}

.search-container input {
  width: 100%;
  padding: 10px 15px;
  font-size: 16px;
}

.search-results {
  position: absolute; /* Position it absolutely within the relative container */
  top: 100%; /* Position below the input */
  left: 0;
  width: 100%; /* Ensure the dropdown width is the same as the input */
  background: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  max-height: 200px;
  overflow-y: auto;
}

.search-container input:focus {
  border-color: #4caf50; /* Highlight border when focused */
  box-shadow: 0 1px 5px rgba(76, 175, 80, 0.5); /* Glow effect */
}

.search-results li {
  list-style: none; /* Remove default list styling */
  padding: 10px 15px; /* Padding for list items */
  cursor: pointer; /* Change cursor on hover */
  border-bottom: 1px solid #f0f0f0; /* Subtle divider */
}

.search-results li:last-child {
  border-bottom: none; /* Remove border for last item */
}

.search-results li:hover {
  background: #f9f9f9; /* Highlight background on hover */
}

.no-results {
  text-align: center; /* Center-align text */
  padding: 10px; /* Padding for spacing */
  color: #999; /* Light gray text */
  font-style: italic; /* Italic text style */
}
