@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #1a2902;
  --green: #344c11;
  --paleGreen: #778d45;
  --secondary: #8ab446;
  --fourth: #d0e3c4;
  --olive: #3c4c24;
  --darkGreen: #3c531a;
  --darkerGreen: #4b633e;
  --mintGreen: #c6e2d4;
  --mutedGreen: #aec09a;
  --paleDarkGreen: #536934;
  --darkOliverGreen: #556b2f;
  --oliveGreen: #50731b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app-container {
  display: grid;
  grid-template-columns: 300px 1fr;
  height: auto;
  min-height: 100vh;
  background: linear-gradient(
    180deg,
    rgba(174, 192, 154, 1) 40%,
    rgba(52, 76, 17, 1) 100%
  );
}

.main {
  background: linear-gradient(
    180deg,
    rgba(174, 192, 154, 1) 40%,
    rgba(52, 76, 17, 1) 100%
  );
  width: 100%;
}

li:has(> a.active) {
  background-color: #50731b;
}
