.mainContainer {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background: linear-gradient(
    180deg,
    rgba(174, 192, 154, 1) 40%,
    rgba(52, 76, 17, 1) 100%
  );
  width: 100%;
}

.bookingContainer {
  width: 100%;
  border-radius: 8px;
  padding: 20px;
}

.logoMiddle img {
  width: 120px;
  height: auto;
}

.logoMiddle {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  margin-bottom: 10px;
}

/*
.logoClass {
  max-width: 150px;
}

.notificationSection {
  display: flex;
  flex-direction: column;
  background: #344c11;
  padding: 20px;
  border-radius: 10px;
}

.notificationTitle {
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 20px;
}

.notificationList {
  max-height: 200px;
  overflow-y: auto;
}

.notificationCard {
  padding: 6px 10px;
  background-color: #aec09a;
  border-radius: 10px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.notificationIcon {
  width: 32px;
  height: auto;
}
*/

.bookingButtons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 5px;
  margin: 20px 0 40px 0;
  /* padding-bottom: 60px; */
}

.bookingButtons > .active {
  background-color: var(--secondary);
}

/* .bookingButtons button {
  background-color: darkolivegreen;
  color: #fff;
  padding: 20px 40px;
  outline: transparent;
  border-color: palegreen;
} */

.calendar {
  display: flex;
  flex-direction: column;
  margin-bottom: 5%;
  width: 100%;
}

.calendarHeader {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
  padding: 10px 5px;
  background-color: darkolivegreen;
}

.navButton {
  border-radius: 4px;
  color: #333;
  font-size: 25px;
  padding: 5px 10px;
  cursor: pointer;
  margin: 0 50px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.navButton:hover {
  background-color: white;
}

.calendarBody {
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    180deg,
    rgb(52, 84, 22) 0%,
    rgb(130, 156, 100) 100%
  );
  width: 100%;
}

.tableHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.weekday {
  flex: 1;
  text-align: center;
  font-weight: bold;
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tableContent {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

.calendarDay {
  width: 14.28%;
  padding: 10px;
  text-align: center;
  align-items: center;
  cursor: pointer;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendarDay.selected {
  background-color: var(--oliveGreen);
}

.calendarDay.nonCurrent {
  background-color: #50731b;
  visibility: hidden;
}

.pagination {
  display: flex;
  justify-content: space-between;
  column-gap: 25px;
  background-color: var(--primary);
  margin-top: 20px;
  padding: 12px 16px;
}

.pagination li {
  color: white;
  padding: 0 0.5rem;
  box-sizing: border-box;
}

.pagination li:hover {
  background-color: var(--paleGreen);
}
