.sidebar {
  position: fixed;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: var(--primary);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  z-index: 500;
  transition: all 0.3s;
}

.burgerMenu {
  position: fixed;
  top: 5px;
  left: 5px;
}

.closeBtn {
  margin-left: auto;
  margin-right: 15px;
  z-index: 501;
}

.hideSidebar {
  width: 300px;
}

.showSidebar {
}

@media only screen and (max-width: 768px) {
  .sidebar {
    width: 100vw;
    border-top-right-radius: unset;
    border-bottom-right-radius: unset;
    right: 0;
  }

  .hideSidebar {
    width: 0;
  }
}

@media only screen and (min-width: 769px) {
  .closeBtn {
    display: none;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.sidebar::-webkit-scrollbar {
  display: none;
}

li:has(> a.active) {
  background-color: white;
  color: black;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  margin-bottom: 1rem;
  height: 75px;
}

.sidebar a,
.sidebar p {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #ecf0f1;
  font-size: 1rem;
  padding: 20px;
  padding-top: 30px;
  cursor: pointer;
}

.sidebar img {
  width: auto;
  height: 30px;
  padding: 0 10px;
  position: relative;
}

.sidebar a:hover,
.sidebar p:hover {
  color: #ffffff;
  background-color: #50731b;
}

.sidebar a.active {
  font-weight: bold;
}
