.mainContainer {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background: linear-gradient(
    180deg,
    rgba(174, 192, 154, 1) 40%,
    rgba(52, 76, 17, 1) 100%
  );
}

.homepageContainer {
  border-radius: 8px;
  padding: 20px;
  width: 100%;
}

.logoMiddle {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  margin-bottom: 10px;
}

.logoMiddle img {
  width: 120px;
  height: auto;
}

.logoClass {
  max-width: 150px;
}

.reportSection {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background: #344c11;
  padding: 20px;
  border-radius: 10px;
}

.reportTitle {
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 20px;
}

.reportList {
  color: rgba(255, 255, 255, 1);
  padding-left: 10px;
}

.reportList div {
  display: flex;
  gap: 5px;
  align-items: center;
  margin-bottom: 10px;
}

.reportlistmenu {
  min-width: 260px;
}

.box {
  display: block;
  position: relative;
  width: 225px;
  height: 38px;
  background-color: #aec09a;
  border-radius: 10px;
}

.barClass {
  margin-right: 20px;
}

.barClass img {
  height: 180px;
  width: auto;
}

.pieSection {
  margin: 20px 0;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  overflow: hidden;
}

.pieColumn {
  flex: 1;
  padding: 20px;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  border-radius: 15px;
  background-color: #344c11;
  margin: 0 10px;
  box-sizing: content-box;
  min-width: 0;
}

.pieColumn .pieTitle {
  font-size: 18px;
  color: rgba(255, 255, 255, 1);
  margin-bottom: 10px;
}

.pieImg {
  max-width: 100%;
  flex: 1;
}
